<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
</head>
<body>
    <table>
        <tr th:each="funcionario: ${funcionarios}">
            <td th:text="${funcionario.matricula}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.cpf}"></td>
			<td th:text="${funcionario.dependentes}"></td>
			<td th:text="${funcionario.cargo}"></td>
        </tr>
    </table>>
</body>
</html>
